.body {
    background-image: url('https://www.southernliving.com/thmb/DiILPN4-PmulZZ1zFbP7xANxbr8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/15-WilliamChrisantandSonsOldFloridaBookShop-photobyWilliamChrisant-7077d9a8033a4ac692689380e2dad7bc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .wrapper {
    background-color: rgba(255, 255, 255, 0.368);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(22, 22, 22);
    width: 50vw; /* Adjust width as needed */
  }
  
  /* Form styles */
  form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Adjust for responsive layout */
    flex-direction: column;
    gap:20px;
    align-items: center;
  }
  
  /* Label styles */
  label {
    display: block;
    margin-bottom: 1em;
    color: rgb(60, 60, 60);
    width: 30%; /* Adjust width as needed */
    font-size: 20px;
    font-weight: bolder;
    
  }
  h1{
    color: rgb(5, 5, 5);
    font-size: 26px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
  }
  
  /* Input styles */
  .input,
  .textarea,
  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
  }
  select{
    color: black;
  }
  
  /* Button styles */
  button {
    color: white;
    background: #1575ad;
    border: none;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
  }
  
  /* Responsive styles */
  @media only screen and (min-width: 468px) {
    .wrapper {
      width: 60%;
    }
  
    form {
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    label {
      width: 30%; /* Adjust width for two-column layout */
    }
  
    .input,
    .textarea,
    select {
      width: calc(50% - 20px);
    }
  
    .textarea {
      min-height: 100px;
    }
  
    button {
      width: 120px;
    }
  }
  