.body {
    background-image: url('https://www.southernliving.com/thmb/DiILPN4-PmulZZ1zFbP7xANxbr8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/15-WilliamChrisantandSonsOldFloridaBookShop-photobyWilliamChrisant-7077d9a8033a4ac692689380e2dad7bc.jpg'); /* Sample image link for a bookstore background */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
.wrapper{
    background-color: rgba(255, 255, 255, 0.277);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(22, 22, 22);
}